.card-img-top, .card-img-placeholder {
    max-height: 300px;
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-color: #e0e0e0;
}

.card .btn-delete {
    display: none;
}

.card:hover .btn-delete {
    display: block;
}

